[2022-01-27 21:01] acastro2 opened #2 "Doesn't work for self hosted github enterprise?"
I think it doesn't work for self-hosted github enterprise. The URL here is git.<company>.com (only vpn accessible), and when running mkdocs serve:

[code]

This is an example of the mkdocs.yml:

[code]

[2022-02-01 14:32] jdoiro3 commented on #2
I'll need to look into this more deeply but it might be because I updated the `import` syntax. Instead of `@{branch}` it's now `?branch={branch}`. You can look at the README for more details. Let me know if you still encounter the same error. I'm planning on writing tests pretty soon.

[2022-02-08 10:22] kirannhegde opened #3 "Clarity in the documentation"
Hello,

To an end user of this plugin, it is not clear if the plugin even builds the documentation in the other repositories that it references.  It seems to me that the plugin does the following:
1)Reference **already built documentation in `other repositories**` and make use of them in this parent repository.

The plugin does not really build the documentation (i.e run mkdocs  build ) in each of

[2022-02-08 14:10] jdoiro3 commented on #3
@kirannhegde, thanks for providing this feedback. The package lets you `import` (point might be a better word to use) to other repos, which contain markdown documentation (and possible code), and _builds the documentation in all these repos into one site_. Two reasons I can think of for why you might want this setup are:

- You have multiple repos and want documentation to live as close to the cod

[2022-02-08 15:46] kirannhegde commented on #3
Hello @jdoiro3  Thanks for responding back.
However, the documentation is still not clear.
![image](https://user-images.githubusercontent.com/4364390/153016782-f4879c01-4c54-4ce1-a271-405c96a33348.png)

The confusion arises from the above note.
A typical repository will have a structure as follows:
![image](https://user-images.githubusercontent.com/4364390/153017122-20f370b9-95a1-4e22-a5cb-3fb768d

[2022-02-08 16:25] jdoiro3 commented on #3
As far as the issues you're encountering with your container build, I'm not entirely sure. I'll need to look into it more closely/get help from someone with more experience. My team currently uses this plugin in an Azure Pipeline, deploying the built site to a server.

[2022-02-11 13:54] jdoiro3 commented on #3
I'm still relatively new to `mkdocstrings` but you could potentially change the configuration for `mkdocs-multirepo-plugin` to something like this.

*parent's (repo that imports other docs/code) mkdocs.yml*
[code]

And in some markdown file within the parent repo have something like this, where `my_library` is located within `{temp_dir}/src`

[code]

The build steps for the project are:
- `mkdocs-

[2022-02-13 12:33] pawamoy commented on #3
Chiming in!

The new Python handler does not require to have the dependencies installed (unless you have some compiled modules in there). However, even with that, finding the sources to read them could be made impossible depending on the current working directory. This is a known issue in mkdocstrings and with have a ticket in the backlog: the idea is to behave like MkDocs itself and understand re

[2022-02-13 15:31] pawamoy commented on #3
Try `mkdocstrings[python]>=0.18` :slightly_smiling_face: More info here: https://mkdocstrings.github.io/handlers/overview/#about-the-python-handlers

[2022-02-18 09:27] froschdesign commented on #2
@jdoiro3
I have the same problem when I test the plugin on my local machine (macOS):

[code]

The problem is the detection of Git:

https://github.com/jdoiro3/mkdocs-multirepo-plugin/blob/8570df8de1132902a8101e6eb611d779118f3755/mkdocs_multirepo_plugin/util.py#L51-L56

This works for me:

[code]

But the detection of the Git version is the next problem:

[code]

https://github.com/jdoiro3/mkdocs-m

[2022-02-18 13:20] jdoiro3 commented on #2
@froschdesign, thanks for looking into this. I'm pretty sure I know what's going on and how to resolve this issue. The below function only checks for Linux and not macOS, leading to *where git* being called which isn't a macOS command.

[code]

Also - that's 100% a good idea but didn't go with GitPython b/c from what I saw it didn't support the advance features like sparse clone or the *--depth* a

[2022-02-18 14:58] fjp opened #5 "nav links to /!import%20url resulting in 404 warning"
Thanks for the plugin. I am trying to set it up with the following parent `mkdocs.yml`:

[code]

This builds/serves fine and I can see a temporary folder being created where demo repo is cloned. However, when I try to navigate to the "DemoRepo" menu item I get a 404 page because the link is:

I also see a warning:

The python version I am using is 3.9.10 on Windows and the following mkdocs version

[2022-02-18 16:30] jdoiro3 commented on #5
Ubuntu but just tried the same config on my Windows machine and didn't reproduce the bug. My Windows machine is using Python 3.9.2. Below is my *venv* setup.

[code]
I really want to figure out what's going on here haha.

[2022-02-18 17:26] fjp commented on #5
I just tried again with the config I posted and it works. I was using another config all the time and didn't reported it properly in my first post. Sorry about that.

The issue can be reproduced (I think) if you have another nav item after an imported one. For me the following nav config leads to the issue:

[code]

The DemoRepo url links to `http://127.0.0.1:8000/!import%20https:/github.com/jdoir

[2022-02-18 17:56] fjp commented on #5
The issue seems to be here on line 105:

https://github.com/jdoiro3/mkdocs-multirepo-plugin/blob/0aefb6f5803aae0c9b8d1bb43f5d71c7bbaa7c5f/mkdocs_multirepo_plugin/plugin.py#L100-L107

[2022-02-18 21:52] jdoiro3 commented on #5
Thank you for looking into this and helping out. You were correct. It was a bug I introduced when adding asynchronous importing to the plugin. It should be fixed in `v0.2.7`. I still need to add additional testing for these cases.

[2022-02-19 06:11] fjp commented on #5
Awesome, thank you for the quick handling of this issue! I just tried `v0.2.7` and it seems to work as expected. So from my side you can close this issue. Thanks again for this handy plugin.

[2022-02-19 13:26] #5 closed

[2022-02-19 13:27] jdoiro3 commented on #2
I just bumped changes that *should* have fixed this bug in *v0.2.8*. Can one of you confirm for me?

[2022-02-22 14:18] fjp opened #7 "mkdocs build fails on TeamCity"
When using  `mkdocs-multirepo-plugin==0.3.0` I can build/serve mkdocs without issues on my local Windows machine with python 3.9 but when I try to do the same on a TeamCity build agent, running Windows and python 3.7, I get the following error:

[code]

Could this be an issue with AccessToken not being set correctly or is this another issue?

[2022-02-22 14:32] jdoiro3 commented on #7
No - I think it's an issue regarding [asyncio](https://docs.python.org/3/library/asyncio.html) and the Python version. You might be able to get it to work if the agent can run Python 3.8 but not sure. Worth a try. I'll be educating myself more on this using this Stack Overflow [answer](https://stackoverflow.com/a/53146484).

[2022-02-23 21:24] tepene opened #8 "ValueError: max() arg is an empty sequence"
while trying out the plugin, I enabled it after the installation with:

[code]
After that I wanted to start the builtin development server with `mkdocs serve`. But while doing so I get the following error:

**Error Message**
[code]
Am I missing something?

[2022-02-23 21:47] jdoiro3 commented on #8
@tepene, did you provide any repos to the `nav` or `repos` section in your `mkdocs.yml` file? The plugin expects to have at least one repo specified in one of those sections. I'll either add a better error message or just handle it by doing nothing.

[2022-02-24 06:29] tepene commented on #8
I get the same error with and without configured repos:

[code]
I first tried it with my GitLab repos and after a failed attempt I tried it with the example from your documentation.

Still the same error.

[2022-02-24 12:40] froschdesign commented on #2
@jdoiro3
Works great! 👍

[2022-02-24 12:58] froschdesign opened #9 "File mkdocs.yml is also copied during the serve and build process"
The file `mkdocs.yml` of the imported repository is also copied to the dev server and to the output directory of the build process.

Example:

* `site`
  * `Imported`
    * `index.html`
    * `mkdocs.yml`

The configuration file should not be included in any output.

[2022-02-24 13:54] #2 closed

[2022-02-25 19:32] froschdesign opened #10 "Navigation entry with spaces creates multiple directories in the temporary directory"
A navigation entry with a space in the title does not work.

[code]

CLI output:

[code]

This results in two directories in the temporary directory:

* `temp_dir`
  * `Imported`
    * `docs`
      * …
  * `Repo`

Each individual word creates a new directory, this means 4 directories for "Imported Repo With Spaces".

[2022-02-25 19:55] froschdesign opened #11 "Import a single file without creating a section"
At the moment, only a section can be created during import. It would be great if an individual navigation entry could also be created without creating a section.

### Current behaviour

[code]

#### Results in

* Home (index.html)
* MicroService
  * Example (MicroService/example/index.html)

### Expected behavior

* Home (index.html)
* MicroService (MicroService/index.html)

---

Maybe a new param

[2022-02-25 22:19] jdoiro3 commented on #8
@tepene, can you tell me what OS and version of Python you're using? Trying to figure out what's going on here.

[2022-03-03 16:39] jdoiro3 commented on #10
This bug should be resolved in `v0.3.1` and was tested. @froschdesign, can you confirm this on your end?

[2022-03-03 16:44] froschdesign commented on #10
It works! 👍

[2022-03-03 16:44] #10 closed

[2022-03-09 13:41] jdoiro3 commented on #9
@froschdesign, do you think it makes sense to change the location of the config file to outside the `docs` directory and change the name to `multirepo.yml`? This config file will contain the `nav` section contained in the imported repo.

*imported repo*
[code]

[2022-03-18 02:01] tobytwigger opened #13 "Having to log into github on build"
Hey! Thanks for this plugin, it's exactly what I've been looking for for a new docs site.

I'm using this plugin to pull docs from several github repositories. Whenever I run `mkdocs build` or `mkdocs serve` github asks for a username and password and I have to use `git` and a personal access token to log in. I can change the URLs to `git+ssh://git@github.com/...` to make it use my ssh config, but

[2022-03-18 22:09] jdoiro3 commented on #9
This issue was resolved in release `v0.3.2`. I also added the ability to store the config file for the plugin in the project's root directory and using a different name other than *mkdocs.yml* (e.g., *multirepo.yml*).

*imported repo with config in root directory*
[code]

*imported repo with config in docs directory*
[code]

Both ways should work with the below main repo configuration.

*parent re

[2022-03-18 22:10] #9 closed

[2022-03-19 12:03] jdoiro3 commented on #13
@tobytwigger,  thanks for the feedback and glad you find this useful. I want to make sure I understand the issue before proceeding. Are you asking for a way to configure the header *key* in the `key: value` pair? If so, do you have any suggestions on how you'd like to be able to configure/change this? The authentication headers are located in the bash scripts that perform the sparse clones.

https

[2022-03-23 20:03] rajiteh commented on #11
I have a similar need and wondering if I can use this plugin or some other combination of plugins to achieve what I need, essentially instead of dedicating an entire section in the top header for my imported repo I would like the imported docs to exist under a sub-path.

In other words let's say I have a structure like this:

[code]

Now I want to host the docs for the 'ServiceA' in a different re

[2022-03-23 22:38] jdoiro3 commented on #11
@froschdesign and @rajiteh, I understand what you're both asking for now. I'll need to think through this and see what's the best way to approach this. Let me know if either one of you have a chance to look at the source code and have ideas.

[2022-03-25 18:26] jdoiro3 commented on #11
I'm doing some development in the `dev` branch and adding the ability to have an *!import* anywhere in the *nav*.

So in a parent repo you can have the below configuration.

[code]

Which will build the navigation like this.

<img width="1142" alt="Screen Shot 2022-03-25 at 2 21 14 PM" src="https://user-images.githubusercontent.com/57968347/160179853-8606888c-9728-4dc4-bad7-0a639c9520e6.png">

@ra

[2022-03-26 14:38] jdoiro3 commented on #11
Also - trying to figure out the best way to import only a single file (or list of files) and allow for the imported docs to be used in the parent's nav.

@froschdesign, is this what you're looking for or not?

[code]

[2022-04-02 11:14] froschdesign commented on #11
@jdoiro3
_Sorry for the late response, I was busy._

This looks great and I like the idea of the file list for the import! 👍

[2022-04-03 18:05] rajiteh commented on #11
Thanks, this is exactly what I was looking for as well. Appreciate the fast response!!

[2022-04-07 09:58] fjp opened #15 "AttributeError: 'str' object has no attribute 'items'"
Hi, after updating from release 0.3.2 to 0.3.3 I get the following error when I try to run `mkdocs build`:

[code]

When I use 0.3.2 the building and serving works without errors. Nothing changed in my mkdocs.yml. Is there anything that I should update on my side?

[2022-04-07 11:11] fjp commented on #15
I think the issue is caused by having the following configuration using the [`navigation.indexes`](https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#section-index-pages) feature from the material theme.

The following config results in the error mentioned above:

[code]

Changing the `nav` section to the following gets rid of this error:

[code]

[2022-04-07 13:43] jdoiro3 commented on #15
@fjp thanks for providing the additional context. It definitely helped me fix this bug. Version `0.3.4` should have fixed this.

[code]

[2022-04-07 13:43] #15 closed

[2022-04-07 22:37] fjp opened #16 "Relative image paths seem broken in 0.3.2; Are absolute paths supported?"
Hi @jdoiro3 thanks for fixing the previous bug so fast.

I encountered another issue when working with images. After upgrading from 0.3.1 to 0.3.2 all images (either included relative or absolute) are not found.

My "Micro service" repo that should be included looks similar to:

[code]

The README.md contains:

[code]

The images, which were included with a relative path, were displayed correctly

[2022-04-08 12:11] MrPointer opened #17 "Building always fails - No such file or directory"
Hi, I'd like to thank you for making this awesome plugin, first and foremost! ♥

## Bug Description
Every configuration I tried leads to a `FileNotFoundError: [Errno 2] No such file or directory:` exception. I can't figure out whether it's my fault or a real bug in the plugin.

Let's assume we have the following, "main" doc site we're trying to build/serve:
[code]

`Foo` contains a valid `mkdocs.y

[2022-04-08 13:03] jdoiro3 commented on #16
I'm pretty sure I introduced this bug while fixing issue #9. I believe it's line 163 causing the issue here. I'll try to take my time on this one to make sure I fix this without creating new side effects. As always, thanks for using this and making me aware of these issues.

https://github.com/jdoiro3/mkdocs-multirepo-plugin/blob/80ecd6580d6c50ac8968b400f377e7cf5d3dafd5/mkdocs_multirepo_plugin/plu

[2022-04-08 18:34] jdoiro3 commented on #16
@fjp, this should now fixed in `v0.3.5`.

The line of code above was causing the error and preventing image files from being included in the site build output. I added a helper function that prevents configuration files (e.g., `yaml` files) from being in the build output but allows all other files, such as images.

[2022-04-08 18:34] #16 closed

[2022-04-09 18:58] jdoiro3 commented on #17
I'm not sure if this is a bug in the plugin or something weird going on with your environment. I'm tagging it as bug for now.

It looks like the error is being raised by the OS when trying to run `mv_docs_up.sh`, which moves the contents in the `docs` directory into the parent directory (i.e., `Foo`) after importing the docs into the *temp_dir*. Could you set `cleanup` to `false`? This will help m

[2022-04-10 08:23] MrPointer commented on #17
@jdoiro3 Same error :(
I can only access the repo using SSH, i.e. the supported url format is `git@...`, so I thought maybe I should change the URL in the configuration accordingly, but it didn't help either. So both HTTPS and Git/SSH result in the same behavior.

[2022-04-10 13:27] jdoiro3 commented on #17
Okay - I'll try to look into this more during the week. Can you confirm that the plugin works with other repos on GitHub? You can try one I used in the `README.md` (e.g., Backstage).

[2022-04-10 15:05] MrPointer commented on #17
@jdoiro3 Just tried with backstage indeed - Still doesn't work, same error 😨

[2022-04-11 13:58] jdoiro3 commented on #17
@MrPointer, I really like to figure this out for you but still not sure what might be going on here. Could you use the below configuration in your `mkdocs.yml` file?

[code]

After you run `mkdocs serve`, ignoring any errors, could you check if a directory called `temp_dir` is created? If it is, could you then confirm there's a folder called `Foo` that contains documentation?

I think the import s

[2022-04-11 15:04] MrPointer commented on #17
@jdoiro3 Just tested it - Nothing is created at all.
I should be looking at the path provided by the thrown error, right? i.e. `temp_dir` should be just under the working dir (where `mkdocs serve` is called?
I'd also add that I tried to look for the existence of that directory in previous scenarios - It hasn't been present in any of them.
Moreover, I've also tried manually creating it, just to fin

[2022-04-11 15:35] jdoiro3 commented on #17
No problem and that's helpful. It must be something going on with the bash script that imports the docs. Could you run the bash script below? I have an example call to the script you could use too. If this script is indeed what's erroring out, then it's 100% a bug in the plugin and means I need better error handling/messages.

The script below should perform a git sparse clone in the current direc

[2022-04-12 16:11] jdoiro3 commented on #17
Of course it works haha. @MrPointer, the only other reason I can see the `FileNotFoundError` being raised by `mv_docs_up.sh` is if the real value of `Foo` has spaces in it. This would happen b/c I left out quotes around the bash argument in the bash script. It should be `"$1"`.

https://github.com/jdoiro3/mkdocs-multirepo-plugin/blob/a340d21724b8f5ea5f7f425c5a1af1a8ce123eec/mkdocs_multirepo_plugin

[2022-04-12 16:56] MrPointer commented on #17
@jdoiro3 OK I think I found something, and it's related to my environment indeed, though not WSL.

There's something going on with how I installed this package. I'm using [pipx](https://github.com/pypa/pipx) to install Python cli-tools, and I've installed **mkdocs** itself with **pipx**. I also figured that since this is a plugin, I'd simply inject it into the venv that **pipx** has created for **

[2022-04-12 16:56] #17 closed

[2022-04-13 12:43] borkke opened #19 "Failed to build and serve mkdocs with multi repo plugin"
Failed to build and serve mkdocs with multi repo plugin.

I created this master mkdocs project with a standard layout. And I was hoping to import Backstage docs just for testing.
[code]

mkdocs-multirepo-plugin Version
[code]

Python version
[code]

If I run `mkdocs serve` or `mkdocs build` I get this message:
[code]
or
[code]

[2022-04-13 13:48] jdoiro3 commented on #19
@borkke, I wasn't able to reproduce your error. Actually, I'm not sure what the error is. Is the last console output just hanging? Maybe it's something with the environment (i.e., OS) your running. I used the below configuration and was able to import the project's docs.

[code]
I then build a python `venv` and `pip` installed `mkdocs`, `mkdocs-material` and `mkdocs-multirepo-plugin`. After settin

[2022-04-13 15:09] borkke commented on #19
Yeah, it just hangs. That's the case for both commands.

I'll dig deeper to figure out what the problem is.

PS. I'm running on mac

[2022-04-14 09:17] fjp commented on #16
Thanks for fixing this! With 0.3.5, for me it is working as expected again.

[2022-04-15 16:53] jdoiro3 commented on #19
Can't reproduce error.

[2022-04-15 16:53] #19 closed

[2022-04-26 15:10] matthewmucker-vizio opened #20 "Unable to checkout child imports with github actions"
I am creating a 'documentation' repo in github which hosts a stub mkdocs.yml file under which mkdocs-multirepo-plugin should build documentation from other repos. The .yml is:

[code]

When I run `mkdocs build `from my machine, it works.

I want to trigger the build of docs from a github action. Per the documentation, I added github personal access token (PAT) to the repo secrets and included that

[2022-04-26 15:46] jdoiro3 commented on #20
There's something going on with how GitHub does authentication for private repos. My company has an instance of Azure Devops for remotes and [passing the access token in the header of the git clone](https://github.com/jdoiro3/mkdocs-multirepo-plugin/blob/1f504b346ee8d666f8a802caadbe965090239afe/mkdocs_multirepo_plugin/scripts/sparse_clone.sh#L10) works in our pipeline (action) but apparently doesn

[2022-05-01 14:22] wadimklincov commented on #11
@jdoiro3 I would find this really nice as well - especially if it could import things outside of `docs_dir`.

[2022-05-04 16:36] jdoiro3 commented on #20
@matthewmucker-vizio, could you try to use the `GITHUB_TOKEN` that GitHub provides for workflows? I can see that it's used [here](https://docs.github.com/en/actions/security-guides/automatic-token-authentication#example-2-calling-the-rest-api). That might work. I don't have enough knowledge on the topic to be sure.

[2022-05-05 19:25] matthewmucker-vizio commented on #20
Did some testing. If the url in the git clone command in script/sparse_clone.sh could be changed from:

git clone https://github.com/org/repo

to:

git clone https://<PAT from environment variable>@github.com/org/repo

That should work. It would mean, I suppose, checking for the presence of an environment variable and if found, splitting the url after the protocol specifier and inserting the PAT.

[2022-05-10 14:33] shanthisagar-dhanya-kumar-db opened #21 "No such file or directory: 'git' while using bitbucket"
Does this plugin support imports from bitbucket?

[2022-05-10 19:28] jdoiro3 commented on #20
fixed with pull request https://github.com/jdoiro3/mkdocs-multirepo-plugin/pull/22.

[2022-05-10 19:28] #20 closed

[2022-05-11 13:48] jdoiro3 commented on #21
@shanthisagar-dhanya-kumar-db, can you comment the Traceback so I can see the error messages?

[2022-05-11 16:34] shanthisagar-dhanya-kumar-db commented on #21
[59](XXXXURL/docs/default/component/adr#line-59)    asyncio_run(batch_import(repos))[60](XXXXURL/docs/default/component/adr#line-60)  File "/opt/rh/rh-python38/root/usr/local/lib/python3.8/site-packages/mkdocs_multirepo_plugin/util.py", line 124, in asyncio_run[61](XXXXURL/docs/default/component/adr#line-61)    asyncio.run(futures)[62](XXXXURL/docs/default/component/adr#line-62)  File "/opt/rh/rh-

[2022-05-11 16:39] shanthisagar-dhanya-kumar-db commented on #21
And my main mkdocs.yaml looks like this

site_name: 'ADRs'
site_description: 'Main documentation for Architecture Design Records'

repo_url: XXX

plugins:
  - techdocs-core
  - multirepo

nav:
  - Index: 'index.md'
  - CTO ADR: '!import XXXX/browse/CPDA-ADR/mkdocs.yaml'
  - GCP CDA ADR: '!import XXXX/browse/GCDA-ADR/mkdocs.yaml'

[2022-05-11 16:40] shanthisagar-dhanya-kumar-db commented on #21
The error above "No such file or directory: 'git'", does this mean that there needs to have git installed on that server?

[2022-05-12 03:09] jdoiro3 commented on #21
@shanthisagar-dhanya-kumar-db, the plugin does require Git to be installed.

If the OS is Linux/MacOS, it assumes it's installed on the machine, otherwise it try's to find the git directory. I need to update the documentation to point to the Git requirement and output better error messages when cases like this come up.

[2022-05-12 09:08] shanthisagar-dhanya-kumar-db commented on #21
I have now installed git and that specific issue got resolved. But I have another one

✅ Got GA ASR Docs:   0%|          | 0/1 [00:00<?, ?it/s]38✅ Got GA ASR Docs: 100%|██████████| 1/1 [00:00<00:00,  2.78it/s]
✅ Got GA ASR Docs: 100%|██████████| 1/1 [00:00<00:00,  2.78it/s]

3940Traceback (most recent call last):41  File "/opt/rh/rh-python38/root/usr/local/bin/mkdocs", line 8, in <module>42    sys

[2022-05-12 09:13] shanthisagar-dhanya-kumar-db commented on #21
When I looked into the network share, it isn't creating the "temp_dir" under /tmp/backstage-l3mObl/

[2022-05-12 23:10] jdoiro3 commented on #21
@shanthisagar-dhanya-kumar-db, can you try running it on the machine without `backstage-techdocs`? The two plugins might be conflicting. If the same error occurs just running this plugin, it's obviously something wrong with `mkdocs-mutltirepo-plugin`. Hopefully we can figure out what's going on here.

[2022-05-18 13:20] dghelm opened #23 "Error: failed to initialize sparse-checkout"
I'm having difficulty setting up the basic build, and would appreciate any insights into what is happening!

I'm running into the following error:

[code]

This is in Ubuntu, running in WSL2 on Windows, and an mkdocs.yml file with no `nav` section but the following under plugins:

[code]

[2022-05-18 14:00] jdoiro3 commented on #23
@dghelm, what version of Git are you using? I'll test this case with your version of Git and see if I can reproduce it. If you're able to update the version of Git, I'd try that too.

I suspect it's a bug on how I determine if the version of Git installed supports the newer [sparse-checkout](https://git-scm.com/docs/git-sparse-checkout) command or requires you do it another way. The relevant funct

[2022-05-18 14:28] dghelm commented on #23
Oh, hadn't suspected that:
[code]

[2022-05-18 14:39] #23 closed

[2022-05-18 15:09] shanthisagar-dhanya-kumar-db commented on #21
Any thoughts on this?

[2022-05-18 22:15] jdoiro3 commented on #21
@shanthisagar-dhanya-kumar-db, can you try to run the plugin without backstage and confirm that it works? I think backstage techdocs and the plugin might be interfering with each other possibly.

[2022-05-31 14:29] nejch opened #24 "Slugify directories when doing handle_nav_based_import"
Hi @jdoiro3 thanks for the plugin!

When using nav-based imports, the section naming defines the directory location and that is reflected in the final URL, unless I've missed a config option. It'd be nice if we could slugify those to have consistent URLs.

Would you accept that as an additional config option e.g. `slugify_dirs`? If so, where would you like that logic handled - by overriding `locat

[2022-06-06 23:33] shanthisagar-dhanya-kumar-db commented on #21
I tried setting cleanup=false but with no luck
We are hosting the docs under bitbucket. Would this create issue?

[2022-06-08 15:09] shanthisagar-dhanya-kumar-db commented on #21
Does the below mean that the plugin was able to successfully clone the git project

![image](https://user-images.githubusercontent.com/86959288/172651854-e07543e7-c4d3-4924-a602-3b50c48e414c.png)

[2022-06-08 20:48] shanthisagar-dhanya-kumar-db commented on #21
There were two issues basically
1) The bitbucket url which I had given was wrong. Instead of scm url, i gave browse url
2) I hadn't set the git credentials. ( it should have failed instead of saying Got XXXXX )

Now after setting the right credentials using the following
git config --global user.name "xxx"
git config --global user.email "xxx"
git config --global user.password "xxx"

it still fails

[2022-06-08 22:52] shanthisagar-dhanya-kumar-db commented on #21
I can confirm that without backstage, it is working as expected.

With backstage techdocs-core plugin, it is failing.

But, this is very strange that it is failing to git clone

![image](https://user-images.githubusercontent.com/86959288/172730550-526d30cd-049d-4e81-8030-f3f0f4120554.png)

[2022-06-10 03:15] SAMZONG opened #26 "can I both use two way with it ?"
Hi, developer

Thanks for develop this amazing plugin

I Have a question for it, CAN I use both of repos `setion` and nav `- import` ?

I have a lot documents from many repos, and many folder and child folder

I want use repos -setion for auto generate menu list and custom document route location

[2022-06-10 16:06] shanthisagar-dhanya-kumar-db commented on #21
@jdoiro3 : Thanks for that. can we please do it sooner than later? Sorry for pushing this but in our organization there is this scenario that we have to use the multirepo plugin to demonstrate its goodness to the wider audience.
I can help with some of the things if you want to nail down on a date and time so that I can respond to this thread

[2022-06-11 11:25] jdoiro3 commented on #21
I'm on vacation until June 19th so it won't be until then. Feel free to fork the repo and try to figure out what's going on in this case. Also, buying me a beer (see link on README) increasing your chances I'll devote hours to the issue.

[2022-06-14 08:17] froschdesign commented on #11
@wadimklincov
Please create a separate issue report for your feature request otherwise we will move further away from the original topic. Thanks! 👍

[2022-06-15 16:05] ramonbroox opened #29 "Path collision when using multilevel nav imports"
When using nav based imports, if two subsections have the same **title**, mkdocs crashes due to multirepo creating the same path for both:

For example:
[code]

Causes a crash due to `OSError: [Errno 66] Directory not empty`
(Also, the URLs only use the last navigation item, so you can't distinctly link `Product%20Manual/My%20Product` vs. `Developer%20Manual/My%20Product`).

[2022-06-17 12:38] #24 closed

[2022-06-23 19:34] A-Baji opened #30 "Import docs outside of nav section"
I'd like to import my docs to a section besides the nav. For example if I have a `H2` in my `index.md` labeled `Projects`, I'd like to list the documentation for various projects under it. Clicking on these will send you to the home page of the docs for that project. This would also update the top header bar for the docs you are currently accessing. I have an example of this [here](https://a-baji.

[2022-07-03 16:54] JensPeter92 opened #31 "Gitlab - CICD - repo based works, nav based not"
Hi jdoiro3,

I am currently facing the issue that the nav based import does not work for my Gitlab CICD runner.
However, when I change it to a repo base import, it works.

I cannot reconstruct the bug, when working on my PC. There both ways are working.

The error message I am facing is 'ImportDocsException(f"{self.name} doesn't have {yml_file} at {str(config_file)}")'.
The repo I attach to my mkd

[2022-07-05 21:25] andreas-paul opened #33 "github actions fails"
Hi there,

thanks for providing this plugin for MkDocs! I've been trying to configure it but unfortunately I can't get it to work properly. Specifically, I am receiving the following error, when trying to clone a private repository in a Github action workflow:

[code]
What I have tried so far is to add a personal access token from my account in github actions like so:

[code]

I have also tried to

[2022-07-06 10:54] mikedeischle commented on #33
Hi,

I'm facing the same issue and tried multiple things, but without success.
E.g. added a git config to the pipeline
[code]
Also setting the env variable `AccessToken` doesn't help here.

Locally with ssh key it works fine, so maybe adding this could be a solution?

[2022-07-09 22:27] jdoiro3 commented on #29
@ramonbroox, this should be fixed in `0.4.2`. Let me know if you're having issues still.

[2022-07-09 22:27] #29 closed

[2022-07-10 22:37] jdoiro3 commented on #33
@andreas-paul and @mikedeischle, can you both remove the `AccessToken` and use this action instead: [ssh-agent](https://github.com/webfactory/ssh-agent). Let me know if it works.

[2022-07-10 22:45] jdoiro3 commented on #31
I did not try it with gitlab pages. I've been busy but might be able to look into it some point in the near future. Hopefully we can resolve this sooner rather than later.

[2022-07-11 17:43] andreas-paul commented on #33
Thanks, I will try both solutions. In the meantime, I wrote a Github action script that basically does the same thing. Together with the [Awesome page plugin](https://github.com/lukasgeiter/mkdocs-awesome-pages-plugin), works nicely as well.

[2022-07-11 20:41] mikedeischle commented on #31
You could have a look to my comment here:
https://github.com/jdoiro3/mkdocs-multirepo-plugin/issues/33#issuecomment-1180649139

It works fine for me.

[2022-07-11 20:57] mikedeischle opened #35 "Import files from root directory"
Hi there,

it seems that it is not possible to import files outside from `docs/.*` I tried to add the `README.md` from a repo and failed:

[code]

You can find my config in comment: https://github.com/jdoiro3/mkdocs-multirepo-plugin/issues/33#issuecomment-1180649139

I tried a `symolic-link`, `../` and editiing the [docs_dir](https://www.mkdocs.org/user-guide/configuration/#docs_dir) before I crea

[2022-07-12 18:29] josh-wong opened #36 "Navigation no longer working; receiving 404 errors"
Hey hey.

My multirepo doc site was working fine up until yesterday, but when I checked it today, links to those docs sites in the side navigation all give 404 errors.

I've tried running workflows on the individual repos and the multirepo doc site to see if that helped, but neither of those attempts worked.

Were there any changes to how navigation is treated?

[2022-07-12 18:53] jdoiro3 commented on #36
Rerun the workflow and pin the plugin version to `0.4.3`. The previous version had a bug. I was able to build your site locally and all links worked for me.

[2022-07-12 19:16] jdoiro3 commented on #36
I'm going to close this again since I can't reproduce it. I am running into errors with the `git-revision-date` plugin but when I remove that the site seems to be built fine.

[2022-07-12 19:16] #36 closed

[2022-07-12 19:37] josh-wong commented on #36
Thanks for looking into this.

Looks like the documentation for the `git-revision-date` plugin was recently updated:
- [https://github.com/mkdocs-material/docs/setup/adding-a-git-repository.md](https://github.com/squidfunk/mkdocs-material/commit/3cce3ea9b172f06aefc831ae58fec2d4a26a8ea8#diff-6db7c4c5fb4d11609ecc9edbf73b3661bf36ae5a3aa1ea3fd3e4d84ea27074b7)

I'll do some testing later to see if upda

[2022-07-13 03:15] jdoiro3 commented on #29
There was a bug in 0.4.2 so please upgrade to 0.4.3.

[2022-07-14 09:26] DavidBuettner commented on #11
@jdoiro3 thanks for this plugin - I am also checking it out for different purposes. I especially like the import file list above.   As an idea: could the file list also include folders, such that one can include a set of subfolders with all their content?

That would be especially useful, if the imported repository has different kinds of documentation in different folders, such as
* Developer docu

[2022-07-15 11:52] rmunoz opened #37 "Sparse checkout not working with recent git versions"
GitHub Actions recently updated their virtual environments (see [ubuntu-latest](https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-Readme.md#tools) for example) and now git cli version is 2.37. This is causing problems with `git sparse-checkout set` used in `sparse_clone.sh` script because it doesn't admit patterns to be passed.

Looking at the git docs for a version

[2022-07-15 14:44] jorgheymans commented on #37
I spent some time debugging the same issue and just came to report my findings.

In `sparse_clone.sh`, when I remove the `--sparse` option alltogether everything starts working. Indeed, with the `--sparse` option it only checks out the repository root. The script relies on the subsequent call to `git sparse-checkout` which fails, when you add an exit code check like the clone itself:

`+git sparse

[2022-07-15 15:30] jdoiro3 commented on #37
@rmunoz, thanks for raising this issue. I see your company forked the repo and you made some changes. Feel free to create a pull request. You could even add the runners that have the newer git version to the integration tests to make sure this works with the newer version.

[2022-07-15 15:40] rmunoz commented on #37
@jdoiro3 yep, tbh is just a quick and dirty workaround to unblock my team that basically adds the `--no-cone` to the `sparse_clone` python function:

[code]

I'm going to be off for two weeks (summer break) but once I'll be back my plan is to prepare a proper fix checking the git version as you're already doing for older git versions.

[2022-07-19 21:21] gmcfrear opened #38 "Misunderstanding branch"
Hi,
I seem to be misunderstanding your docs.

in my mkdocs.yaml. I have

[code]
and the result I got was:

mkdocs_multirepo_plugin.util.GitException:
Cloning into 'repo3'...
warning: Could not find remote branch master to clone.
fatal: Remote branch master not found in upstream origin

then I edited the plugin
https://github.com/jdoiro3/mkdocs-multirepo-plugin/blob/main/mkdocs_multirepo_plugin/plu

[2022-07-21 12:52] the-real-cphillips opened #39 "AttributeError: 'str' object has no attribute 'items' (Not related to `navigation.indexes`)"
I know this error has come up before and it was determined to be related to `navigation.indexes` but this is different.

Here's my `mkdocs.yml` where I'm using `multirepo`

[code]

Here is the `nav` from `mkdocs.yaml` inside the Tool repo:

[code]

When using `!import` the error is experienced.
If I use the `repos` section under `plugins`, there is no problem importing.

[2022-07-24 13:09] jdoiro3 commented on #37
@rmunoz and @jorgheymans - as an FYI I have a PR where I'm starting to run integration tests with different versions of git and python.

[2022-07-24 14:48] jdoiro3 commented on #37
This should be fixed with `v0.4.4`. Please let me know if this in fact is still an issue.

[2022-07-24 14:48] #37 closed

[2022-07-24 15:08] jdoiro3 commented on #35
Try this `nav` configuration with `v0.4.4`.

[code]

The repo imported has a `mkdocs.yml` in the docs directory that looks like this.

https://github.com/jdoiro3/mkdocs-multirepo-demoRepo1/blob/extra-imports/docs/mkdocs.yml

[2022-07-24 15:09] jdoiro3 commented on #35
Please close if this resolved your issue.

[2022-07-24 21:32] jdoiro3 commented on #39
@the-real-cphillips, I honestly can tell you for certain at the moment but I think I fixed this in `v0.4.4` (the latest version on PYPI). Could you upgrade and let me know if the bug still exists?

[2022-07-25 07:00] jorgheymans commented on #37
Thanks @jdoiro3 it works now !

[2022-07-25 16:21] SilentGlasses opened #41 "Multisite with horizontal navigation"
This is not an issue but a question.  Are we able to host multiple sites with some that use the horizontal navigation as the main nav?

Maybe adding a sub navigation of sort?

[2022-07-26 14:17] jorgheymans opened #42 "including code from paths outside of the mkdocs directory"
Does the plugin support importing code snippets from other paths ?

We have often things like this in our doc:
[code]

When building a multirepo mkdocs site, it fails:

[code]

I am using nav based multirepo import like this:

[code]

The imported repo structure is this:

[code]

[2022-07-27 15:29] the-real-cphillips commented on #39
@jdoiro3 sorry for the delay on this.

So the fix does seem to have stopped the error and is no longer crashing.

However, it now just returns "None" in the place of the `...` notation, instead of expanding the `...`.

I'm happy to help troubleshoot in anyway, please let me know.

<img width="223" alt="image" src="https://user-images.githubusercontent.com/10037494/181287615-c488387e-a43b-4277-8056

[2022-07-29 12:01] jdoiro3 commented on #41
@SilentGlasses, what do you mean by horizontal navigation?

[2022-07-29 12:05] jdoiro3 commented on #38
You need to specify the branch in the `import_url` now. The only two yaml attributes you can specify in the `repos` section array is `import_url` and `section`. Everything else needs to go in the `import_url` (i.e., `?branch=main`).

[2022-07-29 12:05] #38 closed

[2022-08-01 11:14] rmunoz commented on #37
Thanks @jdoiro3, it works fine 👏

[2022-08-01 21:30] achton commented on #33
@andreas-paul Can you elaborate on how you made it work? I'm looking to authenticate with private GitHub repos, and getting the username prompt when running `mkdocs build` (using the multirepo plugin as well).

[2022-08-03 13:33] the-real-cphillips commented on #42
@jorgheymans you can try to add an `extra_imports` parameter to the import url.
I had the same issue as you, I was able to handle it with that... this is where I found the idea

https://github.com/jdoiro3/mkdocs-multirepo-plugin/issues/35

[2022-08-04 08:17] jorgheymans commented on #42
Thanks, I have tried the `extra_imports` as you can see in the example above. But it did not work, my guess is that it's getting confused over the relative path part `../component/` . To elaborate, here is the more detailed structure of the repository that i'm trying to import, as i noticed in above example it's actually not complete

[code]

The `index.md` contains relative references to `../comp

[2022-08-08 07:43] tsladecek opened #47 "authentication"
I am having problems when including multiple repositories in the nav section.

When only one `!import ...` statement is included everything works fine. I get asked for a `username` and then `Password` and the authentication proceeds as expected (see the first image). However, when I include a second repository (in the same GitLab group) it gets messed up.

It asks me multiple times for a username

[2022-08-08 09:39] mikedeischle commented on #35
@jdoiro3 this works fine for me, thank you 👍

[2022-08-08 09:39] #35 closed

[2022-08-08 14:38] DavidBuettner commented on #42
@jorgheymans, I have the same problem. I looked through the code for a littlebit and it seems that the main problem is that the imported files are moved to the new include directory (i.e. "one-level-up" via the call to the scrip []mv_docs_up.sh](https://github.com/jdoiro3/mkdocs-multirepo-plugin/blob/main/mkdocs_multirepo_plugin/scripts/mv_docs_up.sh))

This results in the relative links beine mes

[2022-08-10 07:39] tsladecek commented on #47
It works with ssh links, which is acceptable for me. However it might be an issue for someone in the future.

[2022-08-10 07:39] #47 closed

[2022-08-15 19:20] Hnasar opened #50 "Doesn't work when git installed with scoop (windows)"
[code]

it has to do with the code hardcoding bin/git.exe and bin/bash.exe

[code]

[2022-08-21 22:44] SilentGlasses commented on #41
At the top of the page, if you switch navigation to horizontal vs vertical on the left.

If you go to [mkdocs material](https://squidfunk.github.io/mkdocs-material/getting-started/), see how the site uses a horizontal nav to move around the site sections then the left nav is used to navigate the individual sections.  Currently, any sites that don't have this nav layout works just fine but sites wi

[2022-08-22 19:43] nejch commented on #50
I guess this happens because scoop uses its own shims for git, and the plugin uses a custom discovery mechanism for the git binary (see below).

IMO, the plugin should assume that git is on PATH and instruct the user otherwise. There are so many ways to install git on windows - git-bash (git for windows), cygwin, msys2, wsl, PortableGit, chocolatey, scoop, etc. A lot of them have different approac

[2022-09-07 13:10] anb0s opened #51 "issue when `with-pdf` is used"
Config for [with-pdf](https://pypi.org/project/mkdocs-with-pdf/) produces error in `mkdocs_multirepo_plugin/plugin.py", line 182, in on_files
    temp_config = deepcopy(config)`:
[code]

working `mkdocs.yml` config:
[code]

not working `mkdocs.yml` config:
[code]

How to analyze the issue?

[code]

[2022-09-09 12:40] jdoiro3 commented on #51
@anb0s, I removed the use of `deepcopy` in version `v0.4.8` in favor of another approach, so this error should be resolved in that version. Bump the version (should be updated in 10 mins) and let me know if this resolves your issue.

[2022-09-09 12:45] jdoiro3 commented on #8
@tepene, sorry for never circling back on this issue. I know you might have moved away from using this plugin but wondering if this is still an issue/bug when using newer versions of the plugin. Do you still get this error with version `v0.4.8`?

[2022-09-13 06:03] NareshChinnusamy opened #53 "Multi Repo Support for AWS CodeCommit Source"
Does multi repo plugin can be used for private git repositories hosted in AWS codecommit?

[2022-09-13 14:13] #50 closed

[2022-09-16 10:06] anb0s commented on #51
@jdoiro3 It works now 👍 Thank You!

[2022-09-16 10:06] #51 closed

[2022-09-19 09:57] tepene commented on #8
I haven't tested it yet with `v0.4.8`. I'll update my post once I've done that. Will take some time though.

[2022-09-19 10:18] froschdesign commented on #11
@jdoiro3
Do you need any more information from me? How can I help to make my original request a reality?
It would be great if a single file could be imported without creating a section. Nothing more is needed.

Many thanks in advance! 👍🏻

[2022-09-20 22:39] fjp commented on #17
I encounter the same issue (`FileNotFoundError: [Errno 2] No such file or directory: PosixPath('/home/timorg/my-docs/temp_dir/Foo')`) after installing the package using `pip install -e git+https://github.com/jdoiro3/mkdocs-multirepo-plugin.git#egg=mkdocs-multirepo-plugin`

Version is

[code]

Without installing the package in editable mode it makes it hard to debug. Do you have any suggestions how

[2022-10-06 14:19] hjoukl opened #57 "Symlinks from docs dir to toplevel project dir do not work"
Hi,

nice plugin!

Suppose you have a repo `myrepo`with toplevel LICENSE and AUTHORS documents that are symlinked from the docs folder,
to avoid duplication but use this info in the mkdocs-generated documentation:
[code]

This works with `mkdocs serve|build` when the repo is used "standalone".

However, if you want such a repo to be imported with multirepo-plugin:

[code]

... the symlinks get bro

[2022-10-06 14:30] hjoukl opened #58 "sparse_clone_old.sh might not do a sparse checkout after all"
git init might not produce a `.git/info` dir:
[code]

Should probably add an `mkdir` line:
[code]

Note that you won't really notice this currently since the shell script will simply continue for the failing commands.
This could be mitigated by using `set -e errexit` or ([better](https://mywiki.wooledge.org/BashFAQ/105)) explicit error checking.

Best,
Holger

[2022-10-10 13:46] dhs3000 commented on #13
@jdoiro3 I might encounter a similar / related issue:

We are using a GitHub App to create an access token rather than using a personal access token (PAT). Using this token with the environment variable `AccessToken` yields a git error message that the user is unknown. It works for us when configuring the "username" `x-access-token` in the URL as `https://x-access-token:$AccessToken@github.com/...

[2022-10-20 14:18] jdoiro3 commented on #33
@andreas-paul, can you please confirm that this is resolved in version `v0.4.11`? See the README [here](https://github.com/jdoiro3/mkdocs-multirepo-plugin#github-actions) for the changes.

[2022-10-21 12:06] jdoiro3 commented on #58
Why does this plugin need the Git `info` file?

[2022-10-24 13:50] jdoiro3 commented on #11
@froschdesign, been busy with work and other stuff the past few months. The next time I devote time to this project I will look into implementing this feature.

[2022-10-24 16:04] SteveRosam opened #66 "Issues when running multirepo"
When i run `mkdocs serve` I get the following output.
[code]
This is my yaml file.. I mostly copied the bits from your readme.

[code]

I wasn't sure from the docs whether I needed the nav section as well as the plugins config. But without the nav section it fails to build.
I noticed WITH the nav section that the output is saying Nav take precedence.

[2022-10-24 16:15] SteveRosam opened #67 "Example file out of date"
This file I think is out of date? Can you update it?

examples/mcdocstrings/import-docs-and-code/mkdocs.yml

[2022-10-24 16:34] SteveRosam commented on #66
Example of my issue.
![image](https://user-images.githubusercontent.com/100689438/197578283-67c0c5d7-395b-4a69-b1fc-c2afeaf0da0f.png)

[2022-10-26 08:08] tepene commented on #8
@jdoiro3 Sorry for the late. I now found some time to do some more testing.

The following setup did now work:

[code]

[code]

which gives this navigation tree:
![image](https://user-images.githubusercontent.com/54766327/197970379-ecdc1b28-6504-45bc-b176-2512ade48f34.png)

Thanks for your great work!

[2022-10-26 12:02] #8 closed

[2022-10-28 18:34] tcarmet commented on #66
Was having the same issue as you, then I saw the warning message:

[code]

Either remove the `nav` section in the `mkdocs.yml` or use the following syntax:

[code]

[2022-10-31 12:52] SteveRosam commented on #66
Hi @tcarmet,

removing the nav section crashes mkdocs

This is my yaml file

[code]

[2022-10-31 12:55] SteveRosam commented on #66
This also crashes mkdocs..

[code]

[2022-11-01 10:40] srosam commented on #66
[code]

[2022-11-01 10:42] SteveRosam commented on #66
Traceback (using above yaml config)
[code]

[2022-11-01 14:48] jdoiro3 commented on #66
Closing b/c this isn't an issue with the project.

[2022-11-01 14:48] #66 closed

[2022-11-01 15:39] SteveRosam commented on #66
Thank you! I didn't realise I had to do that. Apologies for wasting your time. Working perfectly now!

[2022-11-01 17:08] jdoiro3 commented on #66
No worries! I'm glad @tcarmet and I could help you out.